- days = [:sunday, :monday, :tuesday, :wednesday, :thursday, :friday, :saturday, :sunday]
- months = [:january, :february, :march, :april, :may, :june, :july, :august, :september, :october, :november, :december]
- translated_days = days.map { |day_symbol| t("datepicker.days.#{day_symbol}") }.to_json
- translated_days_short = days.map { |day_symbol| t("datepicker.days_short.#{day_symbol}") }.to_json
- translated_days_min = days.map { |day_symbol| t("datepicker.days_min.#{day_symbol}") }.to_json
- translated_months = months.map { |day_symbol| t("datepicker.months.#{day_symbol}") }.to_json
- translated_months_short = months.map { |day_symbol| t("datepicker.months_short.#{day_symbol}") }.to_json

- content_for :extra_javascript do
  :javascript
    $.fn.datepicker.dates['#{I18n.locale}'] = {
      days: #{translated_days},
      daysShort: #{translated_days_short},
      daysMin: #{translated_days_min},
      months: #{translated_months},
      monthsShort: #{translated_months_short},
      today: "#{t("datepicker.today")}",
      weekStart: #{t("datepicker.week_start", default: 0)},
      clear: "#{t("datepicker.clear")}",
      format: "#{t("datepicker.format")}"
    }

    $("#booking-dates").validate({
      submitHandler: function(form) {
        var $form = $(form);
        $form.find("#start-on").attr("name", "");
        $form.find("#end-on").attr("name", "");

        form.submit();
      }
    });

    window.ST.initializeFromToDatePicker('datepicker');
.input-daterange.input-group.clearfix#datepicker{:data => {:locale => I18n.locale, :dateformat => t("datepicker.format")}}
  .datepicker-start-wrapper
    = label_tag t(".booking_from")
    %input.input-sm.form-control.required#start-on{:type => 'text', :name => "start_on", :placeholder => t("datepicker.format"), :data => { :output => "booking-start-output" } }
    %input#booking-start-output{:type => 'hidden', :name => 'start_on'}

  .datepicker-end-wrapper
    = label_tag t(".booking_to")
    %input.input-sm.form-control.required#end-on{:type => 'text', :name => "end_on", :placeholder => t("datepicker.format"), :data => { :output => "booking-end-output" }}
    %input#booking-end-output{:type => 'hidden', :name => 'end_on'}
